@model TwitterContext

@{
    Layout = null;
    var cursor = -1L;
}

<!DOCTYPE html>

<html>
<head>
    <title>Test</title>
</head>
<body>
    <div>
        <h2>Friends</h2>
        <ul>
            @do
            {
                var friends = Model.Friendship
                .SingleOrDefault(f => f.Type == FriendshipType.FollowersList & f.ScreenName == "aschmach");

                cursor = friends.CursorMovement.Next;

                foreach (var item in friends.Users)
                {
                    <li>@item.ScreenNameResponse</li>
                }

            } while (cursor != 0);
        </ul>
    </div>
</body>
</html>